<!DOCTYPE html>
<html>
<head>
    <title>View Drug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>View Drug</h1>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ drug[0] }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ drug[1] }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ drug[2] }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ drug[3] }}</td>
        </tr>
        <tr>
            <th>Expiration Date</th>
            <td>{{ drug[4].strftime('%Y-%m-%d') }}</td>
        </tr>
    </table>
</body>
</html>